<hr>

<h2 style="text-align: center; color: red;">{{title}} </h2>
<button class="btn btn-info"  routerLink="/create">Create new Cv</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">FullName</th>
        <th scope="col">city Name</th>
        <th scope="col">Email</th>
        <th scope="col">MobilNumber</th>
        <th scope="col">Company Name</th>
        <th scope="col">Company city</th>
        <th scope="col">company Fieldy</th>
        <th>Action</th>
      </tr>
    </thead>
     <tbody>
      <tr *ngFor="let cv of cvData">

        <td>{{cv.id}}</td>
        <td>{{ cv.name  }}</td>
        <td>{{ cv.personalInformation.fullName }}</td>
        <td>{{ cv.personalInformation.cityName }}</td>
        <td>{{ cv.personalInformation.email }}</td>
        <td>{{ cv.personalInformation.mobilNumber }}</td>
        <td>{{ cv.experienceInformation.companyName }}</td>
        <td>{{ cv.experienceInformation.city }}</td>
        <td>{{ cv.experienceInformation.companyField }}</td>
        <td>
         <a  class="btn btn-danger m-2" (click)="deleteCv(cv.id)"> Delete</a>
         <a  class="btn btn-success " routerLink="/edit/{{cv.id}}"> Edit</a>
       </td>
      </tr>
     </tbody>
    </table>
